@model BaiTapLonWeb.Models.User

@{
    ViewBag.Title = "Login";
}


<body>
 
    @using (Html.BeginForm("Authen", "Login", FormMethod.Post))
    {
        <div id="wrapper">
            @Html.Partial("_HeaderLogin")

            <div class="main-form-regis">
                <div class="main-content">
                    <div class="form-main-content">
                        @Html.AntiForgeryToken()
                        
                        <div class="header-form-login d-auto">
                            <div class="heading-form-login">
                                <h1>Đăng Nhập dasds</h1>
                            </div>
                            <div class="login-with-qr d-auto">
                                <div class="box-login">
                                    Đăng nhập với mã QR
                                </div>
                                <div class="img-login-with-qr">
                                    <img width="45px" height="45px"
                                         class="shopee-svg-icon mt-10p "
                                         src="~/public/svg/logo-login-with-qr.svg"
                                         alt="">

                                </div>
                            </div>
                        </div>
                        <div class="main-form">


                            <div class="form-group">

                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email,
                                    new { htmlAttributes = new { @class = "form-input", placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.PassWord, new { @class = "form-input", style = "width: 380px;", placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="footer-form-login">
                                <a class="forgot-pass fl-grow" href="#">
                                    Quên
                                    mật khẩu?
                                </a>
                                <a class="login-for-SMS" href="#">
                                    Đăng
                                    nhập với SMS
                                </a>
                            </div>


                            <input class="form-login" type="submit"
                                   class="btn btn-default"
                                   value="Đăng Nhập" />




                            <div class="or-form-login text-center">
                                <span class="or"><div class="text-or">Hoặc</div></span>
                            </div>
                            <div class="btn-all d-auto">
                                <button class="fb">
                                    <div class="icon-img-login dl-center">
                                        <img width="25px" height="25px"
                                             class="icon-fb"
                                             src="~/public/images/fb123.png"
                                             alt=""><div class="">Facebook</div>
                                    </div>
                                </button>

                                <button class="gg">
                                    <div class="icon-img-login dl-center">
                                        <img class="bg-white"
                                             src="~/public/images/google1.png"
                                             width="35px" height="35px"
                                             alt="">
                                        <div class="">Google</div>
                                </button>
                            </div>
                            <div class="you-know-shoppe">
                                <span class="text-muted">
                                    Bạn mới biết
                                    đến Shopee?
                                </span><a href="@Url.Action("Register","Login") ">Đăng ký</a>
                            </div>


                        </div>
                    </div>
                </div>
                @Html.Partial("_Footer_not_every_thing")

            </div>
        </div>
    }



</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
