
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/solid.min.css">
    <link rel="stylesheet" href="~/public/css/style_admin.css">
    <link rel="stylesheet" href="~/public/css/detail_order.css">
    @*     <link rel="stylesheet" href="../public/css/login.css"> *@
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/public/js/app_admin.js"></script>
    <script src="~/public/js/hover.js"></script>
    @*<script src="~/public/js/chart.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>


    <title>Admintrator</title>
</head>
<body>
    <div id="warpper" class="nav-fixed">
        <nav class="topnav shadow navbar-light bg-white d-flex">
            <div class="navbar-brand"><a href="@Url.Action("Index","AdminProduct")">Shopee ADMIN</a></div>
            <div class="nav-right ">
                <div class="btn-group mr-auto">
                    <button type="button" class="btn dropdown"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="plus-icon fas fa-plus-circle"></i>
                    </button>
                    <div class="dropdown-menu">
                 
                        <a class="dropdown-item" href="@Url.Action("Create","AdminProduct")">Thêm sản phẩm</a>
                        <a class="dropdown-item" href="@Url.Action("Create","AdminOrder")">Thêm đơn hàng</a>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        @Session["Email"]
                       
                    </button>


                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="@Url.Action("EditAdmin","Login")">Tài khoản</a>
                        <a class="dropdown-item" href="@Url.Action("LogoutAdmin","Login")">Đăng Xuất</a>
                        <a class="dropdown-item" href=""></a>



                        <form id="logout-form" action="" method="POST"
                              class="d-none">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end nav  -->
        <div id="page-body" class="d-flex">
            @Html.Partial("_Sidebar")



